* {
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: inherit;
}
img {
    display: block;
}
@font-face {
    font-family: 'NationalPension';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontRegular.woff2')
        format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SchoolSafeUniverse';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2')
        format('woff2');
    font-weight: normal;
    font-display: swap;
}
body {
    font-family: 'SchoolSafeUniverse';
    line-height: 1.4;
}

/*visual*/
#visual {
    position: relative;
    overflow: hidden;
    font-family: 'NationalPension';
}
#visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#visual ul {
    display: flex;
    width: 100%;
}
#visual li {
    width: 100%;
    flex-shrink: 0;
}
#visual li a {
    position: relative;
    display: block;
}
#visual .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    box-sizing: border-box;
    transform: translateY(-80px);
}
#visual .logo {
    width: 300px;
}
#visual .wh {
    transform: translateY(-100%);
}
#visual::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -10px;
    background-image: url(../img/visual2.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

/*container*/
#container section {
    width: 100%;
    padding: 10% 5% 0px;
    box-sizing: border-box;
}
/*서브타이틀*/
.subtitle {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    letter-spacing: -1px;
    width: 100%;
}
.subtitle span {
    font-size: 16px;
}
.subtitle h2 {
    font-size: 36px;
    font-family: 'NationalPension';
}
.subtitle .buttonWrap a {
    background-color: #fff;
    padding: 7px 20px;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

/*con01*/
.con01 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(#fffceb, #fff2a7);
}
.con01 .inner {
    display: flex;
    width: 100%;
}

.con01 .inner .text {
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    font-size: 30px;
    opacity: 0;
    transform: translateY(100px);
}
.con01 .imgWrap {
    width: 300px;
}
.con01 ul {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    gap: 50px;
}
.con01 li {
    width: 300px;
    opacity: 1;
}
.con01 li:nth-child(1) {
    transform: rotate(-10deg);
}
.con01 li:nth-child(2) {
    transform: translateY(-30px) rotate(0deg);
}
.con01 li:nth-child(3) {
    transform: rotate(10deg);
}
.con01 .top {
    background-color: #ff8f1c;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
}
.con01 .top p {
    font-size: 12px;
}
.con01 .bottom img {
    width: 100px;
}
.con01 .bottom {
    background-color: #fff;
    border-radius: 10px;
    height: 200px;
}

/*con02*/
.con02 {
    height: 60vh;
}
.con02 .subtitle .buttonWrap a {
    background-color: #fff5bc;
}
.con02 .inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.con02 .text {
    width: 35%;
}
.con02 .text li {
    background-color: #eaeaea;
    width: 100%;
    height: 70px;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.con02 .text li::after {
    content: '';
    display: block;
    background-image: url(img/Union1.png);
    background-size: cover;
    position: absolute;
    width: 30px;
    height: 35px;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    opacity: 0;
}

.con02 .text li img {
    width: 10%;
    opacity: 0;
    transition: 0.5s;
}
.con02 .text li.on {
    background-color: #aae3a2;
    font-weight: bold;
    font-size: 1.2rem;
}
.con02 .text li.on::after {
    opacity: 1;
}
.con02 .text li.on img {
    opacity: 1;
}
.con02 .imgWrap {
    position: relative;
    width: 600px;
    height: 350px;
}
.con02 .imgWrap li {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 350px;
    position: absolute;
}
.con02 .imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.con02 .imgWrap li.on {
    z-index: 5;
}
.con02 .imgWrap::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(img/con02_frame.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.con02 .right {
    position: relative;
}
.con02 .subText {
    position: absolute;
    right: 0;
    bottom: -20px;
    z-index: 15;
}
.con02 .subText li {
    text-align: right;
    display: none;
}
.con02 .subText li.on {
    display: block;
}
.con02 .subText li span {
    background-color: #61a857;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 5px;
}

/*con03*/
.con03 .subtitle {
    text-align: center;
    justify-content: center;
}
.con03 .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.con03 .imgWrap {
    position: relative;
    width: 50%;
}
.con03 .imgWrap li {
    filter: grayscale(1);
}
.con03 .imgWrap li.on {
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
    width: 110%;
    filter: grayscale(0);
    z-index: 10;
    border-radius: 40px;
    overflow: hidden;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.con03 .imgWrap img {
    width: 100%;
}

/*con04*/
.con04 {
    width: 100%;
    height: 60vh;
    margin-top: 200px;
}
.con04 .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    align-items: flex-end;
}
.con04 .subtitle {
    margin-bottom: 30px;
}
.con04 li {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.con04 a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    display: block;
}

.col-left {
    background-color: #fff2ad;
    border-radius: 50px;
    padding: 60px 40px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.col-center {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col-center > div:first-child {
    background-color: #ffe5e5;
    border-radius: 50px;
    padding: 40px;
}

.col-center > div:last-child button {
    font-family: 'NationalPension';
    background-color: #b4e3b2;
    border-radius: 40px;
    padding: 40px;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.col-right > div:last-child {
    background-color: #f2f2f2;
    border-radius: 50px;
    padding: 40px;
    position: relative;
}

.col-right .daram_cute {
    width: 150px;
    position: absolute;
    top: -120px;
    right: 10px;
    z-index: 10;
}
