* {
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: inherit;
}
img {
    display: block;
}
@font-face {
    font-family: 'NationalPension';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontRegular.woff2')
        format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SchoolSafeUniverse';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2')
        format('woff2');
    font-weight: normal;
    font-display: swap;
}
body {
    font-family: 'SchoolSafeUniverse';
    line-height: 1.4;
}
/*visual*/
#visual {
    position: relative;
    overflow: hidden;
    font-family: 'NationalPension';
}
#visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#visual ul {
    display: flex;
    width: 100%;
}
#visual li {
    width: 100%;
    flex-shrink: 0;
}
#visual li a {
    position: relative;
    display: block;
}
#visual .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    box-sizing: border-box;
    transform: translateY(-30px);
}
#visual .logo {
    width: 300px;
}
#visual .wh {
    transform: translateY(-100%);
}
#visual::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -10px;
    background-image: url(../img/visual2.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    pointer-events: none;
}

/*container*/
#container section {
    width: 100%;
    height: 80vh;
    padding: 10% 5% 0px;
    box-sizing: border-box;
}

.subtitle {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    letter-spacing: -1px;
    width: 100%;
}
.subtitle span {
    font-size: 16px;
}
.subtitle h2 {
    font-size: 36px;
    font-family: 'NationalPension';
}
.subtitle .buttonWrap {
    background-color: #fff;
    padding: 7px 10px;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

.con01 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(#fffceb, #fff2a7);
}
.con01 .inner {
    display: flex;
    width: 100%;
}

.con01 .inner .text {
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    font-size: 30px;
    opacity: 0;
    transform: translateY(100px);
}
.con01 .imgWrap {
    width: 300px;
}
.con01 ul {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    gap: 50px;
}
.con01 li {
    width: 300px;
    opacity: 1;
}
.con01 li:nth-child(1) {
    transform: rotate(-10deg);
}
.con01 li:nth-child(2) {
    transform: translateY(-30px) rotate(0deg);
}
.con01 li:nth-child(3) {
    transform: rotate(10deg);
}
.con01 .top {
    background-color: #ff8f1c;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
}
.con01 .top p {
    font-size: 12px;
}
.con01 .bottom img {
    width: 100px;
}
.con01 .bottom {
    background-color: #fff;
    border-radius: 10px;
    height: 200px;
}

.con02 {
    height: 80vh;
}
.con02 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.con02 .inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.con02 .imgWrap {
    position: relative;
    width: 500px;
    height: 300px;
}
.con02 .imgWrap li {
    width: 100%;
    height: 100%;
    position: absolute;
}
.con02 .imgWrap li.on {
    z-index: 5;
}
.con02 .imgWrap::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(img/con02_frame.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
