* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
body {
  word-break: keep-all;
  font-family: "SchoolSafeUniverse";
  line-height: 1.5;
}
h2 {
  font-family: "NationalPension";
}
@font-face {
  font-family: "NationalPension";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontRegular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "SchoolSafeUniverse";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@media (min-width: 1220px) {
  #container {
    width: 100%;
  }
  body {
    background: url(../starIMG/star19.png), url(../starIMG/star16.png),
      url(../starIMG/star18.png);
    background-repeat: no-repeat;
    background-size: 200px, 300px, 150px;
    background-attachment: fixed;
    background-position: left 3% bottom 10%, right 5% top 40%, left 15% top 10%;
  }
  h2 {
    font-size: 36px;
  }

  /*con01*/
  .con01 {
    width: 100%;
    height: 300vh;
    /* border: 1px solid red; */
    position: relative;
    background: url(img/line01.png);
    background-size: cover;
  }
  .con01 .inner {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .con01 .txtList {
    text-align: center;
    color: #666666;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
  }
  .con01 .txtList li.active {
    font-size: 1.875rem;
    color: #000;
    font-size: 6vh;
    font-weight: bold;
    font-family: "NationalPension";
  }

  /*imgList*/
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.9375rem);
      scale: 1.1; /* 위로 15px 이동 */
    }
    100% {
      transform: translateY(0);
    }
  }

  /*con01*/
  .con01 {
    width: 100%;
    height: 300vh;
    /* border: 1px solid red; */
    position: relative;
    background: url(img/line01.png);
    background-size: cover;
  }
  .con01 .inner {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .con01 .txtList {
    text-align: center;
    color: #666666;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
  }
  .con01 .txtList li.active {
    font-size: 1.875rem;
    color: #000;
    font-size: 6vh;
    font-weight: bold;
    font-family: "NationalPension";
  }

  /*imgList*/
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.9375rem);
      scale: 1.1; /* 위로 15px 이동 */
    }
    100% {
      transform: translateY(0);
    }
  }
  .con01 .imgListWrap > li {
    display: none;
  }
  .con01 .imgListWrap > li.active {
    display: block;
  }
  .con01 .imgList li {
    border-radius: 50%;
    overflow: hidden;
    /* border: 1px solid red; */
    position: absolute;
    animation: float 7s ease-in-out infinite alternate;
    transition: 1s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .con01 .imgList li:nth-child(1) {
    width: 20vw;
    height: 20vw;
    top: 18%;
    left: 23%;
  }
  .con01 .imgList li:nth-child(2) {
    width: 12vw;
    height: 12vw;
    top: 50%;
    left: 10%;
    animation-delay: -3s;
  }
  .con01 .imgList li:nth-child(3) {
    width: 14vw;
    height: 14vw;
    top: 65%;
    left: 25%;
    animation-delay: -5s;
  }
  .con01 .imgList li:hover {
    border-radius: 30%;
    z-index: 10;
  }
  .con01 .imgList img {
    width: 200%;
    object-fit: cover;
  }
  .con01 .characterWrap {
    width: 20vw;
    position: absolute;
    bottom: 20px;
    right: 10vw;
    /* border: 1px solid red; */
  }
  .con01 .characterWrap img {
    width: 100%;
  }
  .con01 .sectionLine {
    width: 100%;
    height: 30px;
    background: linear-gradient(rgb(199, 173, 118), white);
    position: absolute;
    bottom: 0;
  }

  /*con02*/
  .con02 {
    width: 1200px;
    margin: 100px auto 0px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    overflow: hidden;
  }
  .con02 .inner {
    width: 1200px;
  }
  .con02 .title {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.625rem;
    margin-bottom: 1.25rem;
    box-sizing: border-box;
  }
  .con02 .title .txt {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }

  .con02 .title .category li {
    cursor: pointer;
  }
  .con02 .title .category li.active {
    font-weight: 800;
  }
  .simply-scroll-clip {
    width: 100vw;
    height: 30rem;
    overflow: hidden;
    border-radius: 0.625rem;
  }

  .con02 ul {
    display: flex;
    gap: 0.625rem;
  }
  .con02 .listWrap {
    display: none;
  }
  .con02 .listWrap.active {
    display: block;
  }
  .con02 .list li {
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
    cursor: pointer;
    flex-shrink: 0;
    transition: 1s;
  }
  .con02 .list li.on {
    width: 500px;
  }
  .con02 li .imgWrap {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    color: #fff;
    position: relative;
  }

  .con02 li .imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
  }

  .con02 li .imgWrap .subtitle {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 200px;
    opacity: 0;
    transition: 1s;
  }
  .con02 li .imgWrap .click {
    position: absolute;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    transition: 1s;
  }

  .con02 li .imgWrap:hover img {
    filter: brightness(0.35);
  }
  .con02 li .imgWrap:hover p {
    opacity: 1;
  }

  .con02 li h3 {
    margin: 10px 0px 0px 10px;
    font-size: 1.2rem;
  }

  /*con03*/
  .con03 {
    width: 1200px;
    max-width: 75rem;
    height: 100vh;
    margin: 0 auto;
    transition: 1s;
    padding-top: 5vh;
    position: relative;
  }
  .con03 .cardListWrap {
    display: none;
  }
  .con03 .cardListWrap.active {
    display: block;
  }
  .con03 .cardList {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50vh;
  }
  .con03 .card {
    background-color: rgb(255, 255, 215);
    padding: 1.875rem;
    border-radius: 1.875rem;
    display: flex;
    justify-content: space-between;
    height: 60vh;
    transition: 1s;
    position: sticky;
    top: 1.875rem;
    transition: 1s;
    scale: 1;
    border: 1px solid #e8f3b5;
  }

  .con03 .card:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color: rgb(226, 226, 100);
    scale: 1.1;
  }
  .con03 .card.on {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color: rgb(226, 226, 100);
    scale: 1.1;
    z-index: 5;
  }
  .con03 .card .left,
  .con03 .card .imgWrap {
    width: 45%;
    /* border: 1px solid red; */
  }
  .con03 .card .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    box-sizing: border-box;
  }
  .con03 .card .left h3 {
    font-size: 6vh;
    margin-bottom: 1.25rem;
    font-family: "NationalPension";
  }
  .card .imgWrap img {
    width: 100%;
    height: 100%;
    border-radius: 1.875rem;
    object-fit: cover;
  }
}

@media (min-width: 720px) and (max-width: 1220px) {
  body {
    background: url(../starIMG/star19.png), url(../starIMG/star16.png),
      url(../starIMG/star18.png);
    background-repeat: no-repeat;
    background-size: 150px, 250px, 100px;
    background-attachment: fixed;
    background-position: left 3% bottom 10%, right 5% top 40%, left 15% top 10%;
  }
  /*con01*/
  .con01 {
    width: 100%;
    height: 300vh;
    /* border: 1px solid red; */
    position: relative;
    background: url(img/line01.png);
    background-size: cover;
  }
  .con01 .inner {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .con01 .txtList {
    text-align: center;
    color: #666666;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
  }
  .con01 .txtList li.active {
    font-size: 1.875rem;
    color: #000;
    font-size: 6vh;
    font-weight: bold;
    font-family: "NationalPension";
  }

  /*imgList*/
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.9375rem);
      scale: 1.1; /* 위로 15px 이동 */
    }
    100% {
      transform: translateY(0);
    }
  }
  .con01 .imgListWrap > li {
    display: none;
  }
  .con01 .imgListWrap > li.active {
    display: block;
  }
  .con01 .imgList li {
    border-radius: 50%;
    overflow: hidden;
    /* border: 1px solid red; */
    position: absolute;
    animation: float 7s ease-in-out infinite alternate;
    transition: 1s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .con01 .imgList li:nth-child(1) {
    width: 20vw;
    height: 20vw;
    top: 18%;
    left: 23%;
  }
  .con01 .imgList li:nth-child(2) {
    width: 12vw;
    height: 12vw;
    top: 50%;
    left: 10%;
    animation-delay: -3s;
  }
  .con01 .imgList li:nth-child(3) {
    width: 14vw;
    height: 14vw;
    top: 65%;
    left: 25%;
    animation-delay: -5s;
  }
  .con01 .imgList li:hover {
    border-radius: 30%;
    z-index: 10;
  }
  .con01 .imgList img {
    width: 200%;
    object-fit: cover;
  }
  .con01 .characterWrap {
    width: 20vw;
    position: absolute;
    bottom: 20px;
    right: 10vw;
    /* border: 1px solid red; */
  }
  .con01 .characterWrap img {
    width: 100%;
  }
  .con01 .sectionLine {
    width: 100%;
    height: 30px;
    background: linear-gradient(rgb(199, 173, 118), white);
    position: absolute;
    bottom: 0;
  }

  /*con02*/
  .con02 {
    width: 90%;
    margin: 100px auto 0px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    overflow: hidden;
  }
  .con02 .inner {
    width: 100%;
  }
  .con02 .title {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.625rem;
    margin-bottom: 1.25rem;
    box-sizing: border-box;
  }
  .con02 .title .txt {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }

  .con02 .title .category li {
    cursor: pointer;
  }
  .con02 .title .category li.active {
    font-weight: 800;
  }
  .simply-scroll-clip {
    width: 100vw;
    height: 30rem;
    overflow: hidden;
    border-radius: 0.625rem;
  }

  .con02 ul {
    display: flex;
    gap: 0.625rem;
  }
  .con02 .listWrap {
    display: none;
  }
  .con02 .listWrap.active {
    display: block;
  }
  .con02 .list li {
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
    cursor: pointer;
    flex-shrink: 0;
    transition: 1s;
  }
  .con02 .list li.on {
    width: 500px;
  }
  .con02 li .imgWrap {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    color: #fff;
    position: relative;
  }

  .con02 li .imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
  }

  .con02 li .imgWrap .subtitle {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 200px;
    opacity: 0;
    transition: 1s;
  }
  .con02 li .imgWrap .click {
    position: absolute;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    transition: 1s;
  }

  .con02 li .imgWrap:hover img {
    filter: brightness(0.35);
  }
  .con02 li .imgWrap:hover p {
    opacity: 1;
  }

  .con02 li h3 {
    margin: 10px 0px 0px 10px;
  }

  /*con03*/
  .con03 {
    width: 90%;
    max-width: 75rem;
    height: 100vh;
    margin: 0 auto;
    transition: 1s;
    padding-top: 5vh;
    position: relative;
  }
  .con03 .cardListWrap {
    display: none;
  }
  .con03 .cardListWrap.active {
    display: block;
  }
  .con03 .cardList {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50vh;
  }
  .con03 .card {
    background-color: rgb(255, 255, 215);
    padding: 1.875rem;
    border-radius: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    transition: 1s;
    position: sticky;
    top: 1.875rem;
    transition: 1s;
    scale: 1;
    border: 1px solid #e8f3b5;
  }

  .con03 .card:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color: rgb(226, 226, 100);
    scale: 1.1;
  }
  .con03 .card.on {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color: rgb(226, 226, 100);
    scale: 1.1;
    z-index: 5;
  }
  .con03 .card .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    box-sizing: border-box;
  }
  .con03 .card .left h3 {
    font-size: 6vh;
    margin-bottom: 1.25rem;
    font-family: "NationalPension";
  }
  .card .imgWrap img {
    width: 100%;
    height: 100%;
    border-radius: 1.875rem;
    object-fit: cover;
  }
}

@media (max-width: 720px) {
  body {
    background: url(../starIMG/star19.png), url(../starIMG/star16.png),
      url(../starIMG/star18.png);
    background-repeat: no-repeat;
    background-size: 150px, 100px, 100px;
    background-attachment: fixed;
    background-position: left 3% bottom 10%, right 5% top 40%, left 15% top 10%;
  }
  /*con01*/
  .con01 {
    width: 100%;
    height: 300vh;
    /* border: 1px solid red; */
    position: relative;
    background: url(img/line01.png);
    background-size: cover;
  }
  .con01 .inner {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .con01 .txtList {
    text-align: center;
    color: #666666;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
  }
  .con01 .txtList li.active {
    font-size: 1.875rem;
    color: #000;
    font-size: 6vh;
    font-weight: bold;
    font-family: "NationalPension";
  }

  /*imgList*/
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.9375rem);
      scale: 1.1; /* 위로 15px 이동 */
    }
    100% {
      transform: translateY(0);
    }
  }
  .con01 .imgListWrap > li {
    display: none;
  }
  .con01 .imgListWrap > li.active {
    display: block;
  }
  .con01 .imgList li {
    border-radius: 50%;
    overflow: hidden;
    /* border: 1px solid red; */
    position: absolute;
    animation: float 7s ease-in-out infinite alternate;
    transition: 1s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .con01 .imgList li:nth-child(1) {
    width: 20vh;
    height: 20vh;
    top: 3%;
    left: 10%;
  }
  .con01 .imgList li:nth-child(2) {
    width: 14vh;
    height: 14vh;
    bottom: 18%;
    left: 10%;
    animation-delay: -3s;
  }
  .con01 .imgList li:nth-child(3) {
    width: 12vh;
    height: 12vh;
    top: 20%;
    right: 5%;
    animation-delay: -5s;
  }
  .con01 .imgList li:hover {
    border-radius: 30%;
    z-index: 10;
  }
  .con01 .imgList img {
    width: 200%;
    object-fit: cover;
  }
  .con01 .characterWrap {
    width: 15vh;
    position: absolute;
    bottom: 20px;
    right: 10px;
    /* border: 1px solid red; */
  }
  .con01 .characterWrap img {
    width: 100%;
  }
  .con01 .sectionLine {
    width: 100%;
    height: 30px;
    background: linear-gradient(rgb(199, 173, 118), white);
    position: absolute;
    bottom: 0;
  }

  /*con02*/
  .con02 {
    width: 90%;
    margin: 100px auto 0px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    overflow: hidden;
  }
  .con02 .inner {
    width: 100%;
  }
  .con02 .title {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.625rem;
    margin-bottom: 1.25rem;
    box-sizing: border-box;
  }
  .con02 .title .txt {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }
  .con02 .title .txt p {
    display: none;
  }
  .con02 .title .category li {
    cursor: pointer;
  }
  .con02 .title .category li.active {
    font-weight: 800;
  }
  .simply-scroll-clip {
    width: 100vw;
    height: 300px;
    overflow: hidden;
    border-radius: 0.625rem;
  }

  .con02 ul {
    display: flex;
    gap: 0.625rem;
  }
  .con02 .listWrap {
    display: none;
  }
  .con02 .listWrap.active {
    display: block;
  }
  .con02 .list li {
    /* border: 1px solid red; */
    width: 150px;
    height: 150px;
    cursor: pointer;
    flex-shrink: 0;
    transition: 1s;
  }
  /* .con02 .list li.on {
    height: 400px;
  } */
  .con02 li .imgWrap {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    color: #fff;
    position: relative;
  }

  .con02 li .imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
  }

  .con02 li .imgWrap .subtitle {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 200px;
    opacity: 0;
    transition: 1s;
  }
  .con02 li .imgWrap .click {
    position: absolute;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    transition: 1s;
  }

  /* .con02 li .imgWrap:hover img {
    filter: brightness(0.35);
  }
  .con02 li .imgWrap:hover p {
    opacity: 1;
  } */

  .con02 li h3 {
    margin: 10px 0px 0px 10px;
  }

  /*con03*/
  .con03 {
    width: 90%;
    max-width: 75rem;
    height: 100vh;
    margin: 0 auto;
    transition: 1s;
    padding-top: 5vh;
    position: relative;
  }
  .con03 .cardListWrap {
    display: none;
  }
  .con03 .cardListWrap.active {
    display: block;
  }
  .con03 .cardList {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50vh;
  }
  .con03 .card {
    background-color: rgb(255, 255, 215);
    padding: 1.875rem;
    border-radius: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 1s;
    position: sticky;
    top: 1.875rem;
    transition: 1s;
    scale: 1;
    border: 1px solid #e8f3b5;
  }

  .con03 .card:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color: rgb(226, 226, 100);
    scale: 1.1;
  }
  .con03 .card.on {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color: rgb(226, 226, 100);
    scale: 1.1;
    z-index: 5;
  }
  .con03 .card .left,
  .con03 .card .imgWrap {
    width: 100%;
    /* border: 1px solid red; */
  }
  .con03 .card .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    box-sizing: border-box;
  }
  .con03 .card .left h3 {
    font-size: 6vw;
    margin-bottom: 1.25rem;
    font-family: "NationalPension";
  }
  .con03 .card .left p {
    font-size: 1rem;
  }
  .card .imgWrap img {
    width: 100%;
    height: 100%;
    border-radius: 1.875rem;
    object-fit: cover;
  }
}
