@font-face {
  font-family: "NationalPension";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontRegular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "SchoolSafeUniverse";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}
body {
  word-break: keep-all;
  font-family: "SchoolSafeUniverse";
  line-height: 1.5;
}
* {
  margin: 0px;
  padding: 0px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}

@media (max-width: 720px) {
  /*container*/

  /*section1*/
  .creative1 {
    height: 120vh;
    position: relative;
  }
  .creative1 .starImg1 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }
  .creative1 .starImg1 img {
    width: 100%;
    height: 100%;
  }
  .creative1 .starImg2 {
    position: absolute;
    top: -0%;
    right: 10%;
    width: 30px;
    height: 30px;
    opacity: 0.5;
  }
  .creative1 .starImg2 img {
    width: 100%;
    height: 100%;
  }
  .creative1 .starImg3 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 30px;
    height: 30px;
    opacity: 0.5;
  }
  .creative1 .starImg3 img {
    width: 100%;
    height: 100%;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px 0px 200px;
    gap: 100px;
    width: 100%;
  }

  .left .text h4 {
    color: #999;
    font-weight: normal;
  }
  .left .text h3 {
    font-size: 36px;
  }
  .left ul {
    /* border: 1px solid red; */
    width: 90%;
    height: 50px;
    margin: 150px auto 0px;
    display: flex;
    gap: 20px;
  }
  .left ul li {
    width: calc(100% / 3);
    border: 1px solid #999;
    color: #999;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .left ul li.on {
    background-color: #ff8f1c;
    color: #fff;
  }
  .right {
    /* border: 1px solid red; */
    position: relative;
  }
  .right ul {
    opacity: 0;
  }
  .right ul.Img {
    display: flex;
    gap: 50px;
    opacity: 1;
  }

  .right p {
    display: none;
  }

  .play li {
    width: 50%;
    height: 500px;
    transition: 0.5s ease;
  }
  .play img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .play h5 {
    font-size: 15px;
    margin: 30px 0px 10px;
  }
  .play p {
    font-size: 13px;
  }
  .doll {
    display: flex;
    gap: 50px;
    position: absolute;
    top: 0px;
    transition: 0.5s ease;
  }
  .doll li {
    width: 50%;
    height: 500px;
  }
  .doll img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .doll h5 {
    font-size: 15px;
    margin: 30px 0px 10px;
  }
  .doll p {
    font-size: 13px;
  }
  .found {
    display: flex;
    gap: 50px;
    position: absolute;
    top: 0px;
    transition: 0.5s ease;
  }
  .found li {
    width: 50%;
    height: 500px;
  }
  .found img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .found h5 {
    font-size: 15px;
    margin: 30px 0px 10px;
  }
  .found p {
    font-size: 13px;
  }
  /*section2*/
  .creative2 {
    background-image: linear-gradient(#fff, #fff5bc);
    width: 100%;
    position: relative;
  }
  .creative2 .starImg1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15%;
    right: 10%;
    opacity: 0.5;
  }
  .creative2 .starImg1 img {
    width: 100%;
    height: 100%;
  }
  .creative2 .starImg2 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -5%;
    right: 45%;
    opacity: 0.5;
  }
  .creative2 .starImg2 img {
    width: 100%;
    height: 100%;
  }
  .creative2 .starImg3 {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 15%;
    left: 10%;
    opacity: 0.5;
  }
  .creative2 .starImg3 img {
    width: 100%;
    height: 100%;
  }

  .sub1 {
    width: 100%;
    margin: 0px auto;
    height: 80vh;
  }
  .creative2 .text {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
  }
  .creative2 h3 {
    font-size: 36px;
  }
  .creative2 h4 {
    color: #999;
    font-weight: normal;
  }
  .creative2 ul {
    display: flex;
    /* border: 1px solid red; */

    gap: 50px;
  }
  .creative2 li {
    width: 300px;
    height: 200px;
    width: calc(100% / 3);
    transition: 0.5s ease;
  }
  .creative2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.5s ease;
  }
  .creative2 h5 {
    text-align: center;
    font-size: 20px;
    margin: 30px 0px 10px;
  }
  .creative2 p {
    font-size: 12px;
  } /*creative3*/
  .creative3 {
    background-color: #fff5bc;
    width: 100%;
    height: 120vh;
    position: relative;
  }
  .creative3 .starImg1 {
    position: absolute;
    top: -10%;
    right: 10%;
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }
  .creative3 .starImg1 img {
    width: 100%;
    height: 100%;
  }
  .creative3 .starImg2 {
    position: absolute;
    bottom: 10px;
    right: 10%;
    width: 30px;
    height: 30px;
    opacity: 0.5;
  }
  .creative3 .starImg2 img {
    width: 100%;
    height: 100%;
  }
  .creative3 .starImg3 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }
  .creative3 .starImg3 img {
    width: 100%;
    height: 100%;
  }
  .creative3 .sub2 {
    margin: 0px auto;
    width: 100%;
  }
  .creative3 .text {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
  }
  .creative3 h3 {
    font-size: 36px;
  }
  .creative3 h4 {
    font-weight: normal;
    color: #999;
  }
  .creative3 ul {
    width: 100%;
  }
  .creative3 li {
    margin-bottom: 30px;
    position: relative;
  }
  .creative3Img {
    width: 100%;
    height: 70px;

    margin: 0px auto;
    filter: grayscale(100%);
    transition: 0.5s ease;
  }
  .big {
    width: 90%;
    height: 550px;
    filter: grayscale(0%);
  }
  .creative3Img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
  .creative3 p {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 40px;
    opacity: 0;
    width: 80%;
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-size: 12px;
  }
  .creative3 p.show {
    opacity: 1;
  }
  /*creative4*/
  .creative4 {
    width: 100%;
    margin: 100px auto;
    height: 85vh;
    position: relative;
  }
  .creative4 .starImg1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10%;
    left: 10%;
    opacity: 0.5;
  }
  .creative4 .starImg1 img {
    width: 100%;
    height: 100%;
  }
  .creative4 .starImg2 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20%;
    right: 10%;
    opacity: 0.5;
  }
  .creative4 .starImg2 img {
    width: 100%;
    height: 100%;
  }
  .creative4 .starImg3 {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 25%;
    left: 10%;
    opacity: 0.5;
  }
  .creative4 .starImg3 img {
    width: 100%;
    height: 100%;
  }
  .creative4 .text {
    margin: 50px 0px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .creative4 h3 {
    font-size: 36px;
  }
  .creative4 h4 {
    font-weight: normal;
    color: #999;
  }
  .creative4 ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
  }
  .creative4 li {
    width: 600px;
    height: 300px;
  }
  .creative4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .creative4 p {
    font-size: 12px;
  }
}

@media (min-width: 720px) and (max-width: 1220px) {
  /*container*/

  /*section1*/
  .creative1 {
    height: 100vh;
    position: relative;
  }
  .creative1 .starImg1 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }
  .creative1 .starImg1 img {
    width: 100%;
    height: 100%;
  }
  .creative1 .starImg2 {
    position: absolute;
    top: -10%;
    right: 10%;
    width: 30px;
    height: 30px;
    opacity: 0.5;
  }
  .creative1 .starImg2 img {
    width: 100%;
    height: 100%;
  }
  .creative1 .starImg3 {
    position: absolute;
    bottom: 20%;
    left: 15%;
    opacity: 0.5;
  }
  .main {
    display: flex;
    justify-content: center;
    margin: 400px 0px;
    gap: 50px;
    width: 100%;
  }
  .left .text h4 {
    color: #999;
    font-weight: normal;
  }
  .left .text h3 {
    font-size: 36px;
  }
  .left ul {
    /* border: 1px solid red; */
    width: 200px;
    height: 200px;
    margin: 150px 0px 0px 50px;
  }
  .left ul li {
    border: 1px solid #999;
    color: #999;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .left ul li.on {
    background-color: #ff8f1c;
    color: #fff;
  }
  .right {
    /* border: 1px solid red; */
    position: relative;
  }
  .right ul {
    opacity: 0;
  }
  .right ul.Img {
    display: flex;
    gap: 50px;
    opacity: 1;
  }

  .play li {
    width: 50%;
    height: 400px;
    transition: 0.5s ease;
  }
  .play img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .play h5 {
    font-size: 24px;
    margin: 30px 0px 10px;
  }
  .play p {
    font-size: 12px;
  }
  .doll {
    display: flex;
    gap: 50px;
    position: absolute;
    top: 0px;
    transition: 0.5s ease;
  }
  .doll li {
    width: 50%;
    height: 400px;
  }
  .doll img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .doll h5 {
    font-size: 24px;
    margin: 30px 0px 10px;
  }
  .doll p {
    font-size: 14px;
  }
  .found {
    display: flex;
    gap: 50px;
    position: absolute;
    top: 0px;
    transition: 0.5s ease;
  }
  .found li {
    width: 50%;
    height: 400px;
  }
  .found img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .found h5 {
    font-size: 24px;
    margin: 30px 0px 10px;
  }
  .found p {
    font-size: 14px;
  }
  /*section2*/
  .creative2 {
    background-image: linear-gradient(#fff, #fff5bc);
    width: 100%;
    position: relative;
  }
  .creative2 .starImg1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10%;
    right: 10%;
    opacity: 0.5;
  }
  .creative2 .starImg1 img {
    width: 100%;
    height: 100%;
  }
  .creative2 .starImg2 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0%;
    right: 45%;
    opacity: 0.5;
  }
  .creative2 .starImg2 img {
    width: 100%;
    height: 100%;
  }
  .creative2 .starImg3 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20%;
    left: 10%;
    opacity: 0.5;
  }
  .creative2 .starImg3 img {
    width: 100%;
    height: 100%;
  }

  .sub1 {
    width: 100%;
    margin: 0px auto;
    height: 80vh;
  }
  .creative2 .text {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
  }
  .creative2 h3 {
    font-size: 36px;
  }
  .creative2 h4 {
    color: #999;
    font-weight: normal;
  }
  .creative2 ul {
    display: flex;
    /* border: 1px solid red; */

    gap: 50px;
  }
  .creative2 li {
    width: 300px;
    height: 200px;
    width: calc(100% / 3);
    transition: 0.5s ease;
  }

  .creative2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .creative2 h5 {
    text-align: center;
    font-size: 24px;
    margin: 30px 0px 10px;
  }
  .creative2 p {
    font-size: 13px;
  }
  /*creative3*/
  .creative3 {
    background-color: #fff5bc;
    width: 100%;
    height: 130vh;
    position: relative;
  }
  .creative3 .starImg1 {
    position: absolute;
    top: -10%;
    right: 10%;
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }
  .creative3 .starImg1 img {
    width: 100%;
    height: 100%;
  }
  .creative3 .starImg2 {
    position: absolute;
    bottom: 10px;
    right: 10%;
    opacity: 0.5;
  }
  .creative3 .starImg3 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    opacity: 0.5;
  }
  .creative3 .sub2 {
    margin: 0px auto;
    width: 100%;
  }
  .creative3 .text {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
  }
  .creative3 h3 {
    font-size: 36px;
  }
  .creative3 h4 {
    font-weight: normal;
    color: #999;
  }
  .creative3 ul {
    width: 100%;
  }
  .creative3 li {
    margin-bottom: 30px;
    position: relative;
  }
  .creative3Img {
    width: 90%;
    height: 100px;

    margin: 0px auto;
    filter: grayscale(100%);
    transition: 0.5s ease;
  }
  .big {
    width: 90%;
    height: 550px;
    filter: grayscale(0%);
  }
  .creative3Img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
  .creative3 p {
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 70px;
    opacity: 0;
    width: 700px;
    line-height: 1.5;
    letter-spacing: 1.5px;
  }
  .creative3 p.show {
    opacity: 1;
  }
  /*creative4*/
  .creative4 {
    width: 100%;
    margin: 100px auto;
    height: 100vh;
    position: relative;
  }
  .creative4 .starImg1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10%;
    left: 10%;
    opacity: 0.5;
  }
  .creative4 .starImg1 img {
    width: 100%;
    height: 100%;
  }
  .creative4 .starImg2 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 30%;
    right: 10%;
    opacity: 0.5;
  }
  .creative4 .starImg2 img {
    width: 100%;
    height: 100%;
  }
  .creative4 .starImg3 {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 30%;
    left: 10%;
    opacity: 0.5;
  }
  .creative4 .starImg3 img {
    width: 100%;
    height: 100%;
  }
  .creative4 .text {
    margin: 50px 0px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .creative4 h3 {
    font-size: 36px;
  }
  .creative4 h4 {
    font-weight: normal;
    color: #999;
  }
  .creative4 ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
  }
  .creative4 li {
    width: 600px;
    height: 400px;
  }
  .creative4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .creative4 p {
    font-size: 14px;
  }
}

@media (min-width: 1220px) {
  /*container*/
  /*section1*/
  .creative1 {
    height: 100vh;
    position: relative;
  }
  .creative1 .starImg1 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100px;
    height: 100px;
    opacity: 0.5;
  }
  .creative1 .starImg1 img {
    width: 100%;
    height: 100%;
  }
  .creative1 .starImg2 {
    position: absolute;
    top: -20%;
    right: 20%;
    opacity: 0.5;
  }
  .creative1 .starImg3 {
    position: absolute;
    bottom: 20%;
    left: 15%;
    opacity: 0.5;
  }
  .main {
    display: flex;
    justify-content: center;
    margin: 500px 0px;
    gap: 50px;
    width: 100%;
  }
  .left .text h4 {
    color: #999;
    font-weight: normal;
  }
  .left .text h3 {
    font-size: 36px;
  }
  .left ul {
    /* border: 1px solid red; */
    width: 200px;
    height: 200px;
    margin: 150px 0px 0px 50px;
  }
  .left ul li {
    border: 1px solid #999;
    color: #999;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .left ul li.on {
    background-color: #ff8f1c;
    color: #fff;
  }
  .right {
    /* border: 1px solid red; */
    position: relative;
    width: 1050px;
  }
  .right ul {
    opacity: 0;
  }
  .right ul.Img {
    display: flex;
    width: 100%;
    gap: 50px;
    opacity: 1;
  }

  .play li {
    width: 500px;
    height: 600px;
    transition: 0.5s ease;
  }
  .play img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .play h5 {
    font-size: 24px;
    margin: 30px 0px 10px;
  }
  .play p {
    font-size: 14px;
  }
  .doll {
    display: flex;
    gap: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.5s ease;
  }
  .doll li {
    width: 500px;
    height: 600px;
  }
  .doll img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .doll h5 {
    font-size: 24px;
    margin: 30px 0px 10px;
  }
  .doll p {
    font-size: 14px;
  }
  .found {
    display: flex;
    gap: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.5s ease;
  }
  .found li {
    width: 500px;
    height: 600px;
  }
  .found img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .found h5 {
    font-size: 24px;
    margin: 30px 0px 10px;
  }
  .found p {
    font-size: 14px;
  }
  /*section2*/
  .creative2 {
    background-image: linear-gradient(#fff, #fff5bc);
    width: 100%;
    position: relative;
  }
  .creative2 .starImg1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10%;
    right: 10%;
    opacity: 0.5;
  }
  .creative2 .starImg1 img {
    width: 100%;
    height: 100%;
  }
  .creative2 .starImg2 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0%;
    right: 45%;
    opacity: 0.5;
  }
  .creative2 .starImg2 img {
    width: 100%;
    height: 100%;
  }
  .creative2 .starImg3 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20%;
    left: 10%;
    opacity: 0.5;
  }
  .creative2 .starImg3 img {
    width: 100%;
    height: 100%;
  }

  .sub1 {
    width: 1400px;
    margin: 0px auto;
    height: 80vh;
  }
  .creative2 .text {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
  }
  .creative2 h3 {
    font-size: 36px;
  }
  .creative2 h4 {
    color: #999;
    font-weight: normal;
  }
  .creative2 ul {
    display: flex;
    /* border: 1px solid red; */

    gap: 50px;
  }
  .creative2 li {
    width: 300px;
    height: 300px;
    width: calc(100% / 3);
    transition: 0.5s ease;
  }
  .creative2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .creative2 h5 {
    text-align: center;
    font-size: 24px;
    margin: 30px 0px 10px;
  }
  .creative2 p {
    font-size: 14px;
  }
  /*creative3*/
  .creative3 {
    background-color: #fff5bc;
    width: 100%;
    height: 150vh;
    position: relative;
  }
  .creative3 .starImg1 {
    position: absolute;
    top: -10%;
    right: 10%;
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }
  .creative3 .starImg1 img {
    width: 100%;
    height: 100%;
  }
  .creative3 .starImg2 {
    position: absolute;
    bottom: 10px;
    right: 10%;
    opacity: 0.5;
  }
  .creative3 .starImg3 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    opacity: 0.5;
  }
  .creative3 .sub2 {
    margin: 0px auto;
    width: 1400px;
  }
  .creative3 .text {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
  }
  .creative3 h3 {
    font-size: 36px;
  }
  .creative3 h4 {
    font-weight: normal;
    color: #999;
  }
  .creative3 ul {
    width: 100%;
  }
  .creative3 li {
    margin-bottom: 30px;
    position: relative;
  }
  .creative3Img {
    width: 1400px;
    height: 100px;

    margin: 0px auto;
    filter: grayscale(100%);
    transition: 0.5s ease;
  }
  .big {
    width: 1400px;
    height: 700px;
    filter: grayscale(0%);
  }
  .creative3Img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
  .creative3 p {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    width: 700px;
    line-height: 1.5;
    letter-spacing: 1.5px;
  }
  .creative3 p.show {
    opacity: 1;
  }
  /*creative4*/
  .creative4 {
    width: 1000px;
    margin: 100px auto;
    height: 110vh;
    position: relative;
  }
  .creative4 .starImg1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10%;
    left: 10%;
    opacity: 0.5;
  }
  .creative4 .starImg1 img {
    width: 100%;
    height: 100%;
  }
  .creative4 .starImg2 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 30%;
    right: 10%;
    opacity: 0.5;
  }
  .creative4 .starImg2 img {
    width: 100%;
    height: 100%;
  }
  .creative4 .starImg3 {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 30%;
    left: 10%;
    opacity: 0.5;
  }
  .creative4 .starImg3 img {
    width: 100%;
    height: 100%;
  }
  .creative4 .text {
    margin: 50px 0px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .creative4 h3 {
    font-size: 36px;
  }
  .creative4 h4 {
    font-weight: normal;
    color: #999;
  }
  .creative4 ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
  }
  .creative4 li {
    width: 600px;
    height: 400px;
  }
  .creative4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .creative4 p {
    font-size: 15px;
  }
}
