* {
  margin: 0px;
  padding: 0px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}

@media (min-width: 1220px) {
  /*플로팅 아이콘*/
  #floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    z-index: 50;
  }

  /*플로팅_top버튼*/
  #floating .top {
    padding-bottom: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  #floating .topInner {
    background-color: white;
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: #ff8f1c;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  }
  #floating .top i {
    transition: 0.3s;
  }
  #floating .top:hover i {
    transform: translateY(-5px);
  }

  /*플로팅_메인 contact 버튼*/
  .floatFix {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* background-color: #ffcd7c; */
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  }
  .floatFix img {
    width: 80px;
    border-radius: 50%;
    object-fit: contain;
    animation: circle 10s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @keyframes circle {
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  .floatFix p {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #ff8f1c;
    align-content: center;
    text-align: center;
    color: white;
    opacity: 0;
  }

  /*플로팅_문의창*/
  .inquery {
    width: 500px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
    border-radius: 30px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    left: -400px;
    top: 0;
    text-align: left;
    opacity: 0;
  }
  .inquery i {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 20px;
    cursor: pointer;
  }
  .inquery h4 {
    font-size: 23px;
  }
  .inquery p {
    padding: 10px 0px;
    border-bottom: 1px solid black;
  }
  .inquery li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
  }
  .inquery li input {
    width: 250px;
    height: 30px;
    padding: 5px 20px;
    border-radius: 15px;
    border: 0.5px solid black;
  }
  .inquery li:nth-child(3) {
    align-items: flex-start;
  }
  .inquery li:nth-child(3) span {
    margin-top: 5px;
  }
  .inquery li:nth-child(3) input {
    height: 100px;
    border-radius: 20px;
  }
  .inquery li:nth-child(3) input::placeholder {
    /* position: relative;
    top: -30px; */
  }
  .inquery .send {
    display: block;
    margin-left: auto;
    background-color: #ff8f1c;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
  }
}

@media (min-width: 720px) and (max-width: 1220px) {
  /*플로팅 아이콘*/
  #floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    z-index: 50;
  }

  /*플로팅_top버튼*/
  #floating .top {
    padding-bottom: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  #floating .topInner {
    background-color: white;
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: #ff8f1c;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  }
  #floating .top i {
    transition: 0.3s;
  }
  #floating .top:hover i {
    transform: translateY(-5px);
  }

  /*플로팅_메인 contact 버튼*/
  .floatFix {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* background-color: #ffcd7c; */
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  }
  .floatFix img {
    width: 80px;
    border-radius: 50%;
    object-fit: contain;
    animation: circle 10s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @keyframes circle {
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  .floatFix p {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #ff8f1c;
    align-content: center;
    text-align: center;
    color: white;
    opacity: 0;
  }

  /*플로팅_문의창*/
  .inquery {
    width: 500px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
    border-radius: 30px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    left: -400px;
    top: 0;
    text-align: left;
    opacity: 0;
  }
  .inquery i {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 20px;
    cursor: pointer;
  }
  .inquery h4 {
    font-size: 23px;
  }
  .inquery p {
    padding: 10px 0px;
    border-bottom: 1px solid black;
  }
  .inquery li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
  }
  .inquery li input {
    width: 250px;
    height: 30px;
    padding: 5px 20px;
    border-radius: 15px;
    border: 0.5px solid black;
  }
  .inquery li:nth-child(3) {
    align-items: flex-start;
  }
  .inquery li:nth-child(3) span {
    margin-top: 5px;
  }
  .inquery li:nth-child(3) input {
    height: 100px;
    border-radius: 20px;
  }
  .inquery li:nth-child(3) input::placeholder {
    /* position: relative;
    top: -30px; */
  }
  .inquery .send {
    display: block;
    margin-left: auto;
    background-color: #ff8f1c;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
  }
}

@media (max-width: 720px) {
  /*플로팅 아이콘*/
  #floating {
    display: none;
  }
}
