* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

/*start*/
header,
nav ul {
  display: flex;
}
header {
  width: 90%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 30px;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
}
header.wh {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}
nav ul {
  justify-content: center;
  gap: 20px;
}

h1 {
  width: 300px;
}
h1 img {
  width: 120px;
  filter: brightness(0);
}
header .btnWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;
}
header button {
  height: 30px;
  border: none;
  border-radius: 20px;
}
header .contact {
  background-color: #000;
  color: #fff;
  width: 100px;
}
header .text {
  width: 250px;
  background-color: #d6e5f0;
  display: none;
}
